# Data Science Tools and Ecosystem

Data Science Tools and Ecosystem are summarize in this notebook.

Objectives
* List some popular languages in Data Science.
* List some commonly used libraries for Data Science.
* Evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch

|  Data Science Tools  |
|:--------------------:|
|  Jupyter Lab  |
|  RStudio  |
|  Spyder  |
|  Apache Zeppelin  |

### Evaluating arithmetic expressions in Python Samples:

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author  
Alice King